@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default;
}

:root {
  font-family: "PP Neue Machina Regular";
}

@font-face {
  font-family: "PP Neue Machina Regular";
  src:
    local("PP Neue Machina Regular"),
    url(./assets/fonts/subset-PPNeueMachina-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "PP Neue Machina Medium";
  src:
    local("PP Neue Machina Medium"),
    url(./assets/fonts/subset-PPNeueMachina-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "PP Neue Machina Light";
  src:
    local("PP Neue Machina Light"),
    url(./assets/fonts/subset-PPNeueMachina-Light.woff2) format("woff2");
}
